<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1>CODEVANA</h1>
                <input type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Search..." />
                <button type="submit" class="btn" id="search">
                        Code Search
                </button>
</section>