<div class="container">
    <div class="row">
        <div class="col">
            <h1>CODEVANA</h1>
            <input type="search" class="form-control search-input" placeholder="Search coding related topics here..."/>
            <button type="submit" class="btn search-btn" id="search">Search</button>
        </div>
    </div>
</div>