<div class="container">
  <div class="row">
    <div class="col">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" />
    </div>
  </div>
</div>

<br />

<div class="container">
  <div class="row">
    <div class="col">
      <label for="pass">Password:</label>
      <input type="password" id="pass" name="password" required />
      <br />
      <br />
      <button type="submit" class="btn" id="login"> Login </button>
    </div>
  </div>
</div>

<script src="/assets/js/login.js"></script>