<div class="container-fluid">

  <h1>Reddit</h1>
  <div class="row">
    {{#each posts as |post|}}
    <div class="col-lg-2">
      <a href="https://www.reddit.com{{post.data.permalink}}" target="_blank">
        <div class="card w-100 h-100">
          <div class="card-body">
            <h5 class="card-title">{{post.data.title}}</h5>
          </div>
          <div class="card-footer">
            <h6 class="card-subtitle mb-2 text-muted">Upvotes: {{post.data.ups}}</h6>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>

</div>