<div class="row">
  <button type="submit" class="btn" id="search"> More </button>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">author</h6>
      </div>
    </div>
  </div>
</div>