{{#each videos as |video|}}
<p> {{ video.snippet.title }} </p>
{{/each}}

<!--youtube-->
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <p class="card-text">title</p>
  </div>
</div>

<!--reddit-->
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">author</h6>
  </div>
</div>

<!--Stackoverflow-->
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">author</h6>
  </div>
</div>