<div class="container-fluid">

  <h1>Youtube</h1>
  <div class="row">
    {{#each videos as |video|}}
    <div class="col-lg-2">
      <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank">
        <div class="card w-100 h-100">
          <img class="card-img-top" src="{{video.snippet.thumbnails.high.url}}" alt="Card image cap" />
          <div class="card-body">
            <p class="card-text">{{video.snippet.title}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">{{video.snippet.channelTitle}}</li>
          </ul>
          <div class="card-footer">
            <div class="card-text text-center">
              <i class="far fa-star"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>

</div>