<div class="row">
  <button type="submit" class="btn" id="search"> More </button>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap" />
      <div class="card-body">
        <p class="card-text">title</p>
      </div>
    </div>
  </div>
</div>